@import '_breakpoints.scss';

:root {
  --color-primary: #CCCCFF;
  --color-secondary: #FE0101;
  --color-grey: #E1E1E1;
}

// * {
//   border: 1px solid red;
// }

body {
  line-height: 1.5;
  background: url('data:image/svg+xml,\
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">\
   <defs>\
     <filter id="noise">\
       <feTurbulence type="fractalNoise" baseFrequency="0.5" result="noisy" />\
       <feColorMatrix\
         in="noisy"\
         type="matrix"\
         values="\
          0.4 0   0   0   0\
          0   0   0   0   0\
          0   0   0.4 0   0\
          0   0   0   0.2 0 "\
          result="noisy2"/>\
     <feBlend in="SourceGraphic" in2="noisy2" mode="multiply" />\
     </filter>\
   </defs>\
    <rect height="100" width="100" filter="url(%23noise)" fill="rgba(244, 229, 255, 0.2)" />\
  </svg>') fixed;
  background-size: 100px 100px;
  background-repeat: repeat;
}

button {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 3px solid transparent;
  padding: .6rem;
  line-height: 1.5;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  &:focus {
    outline-color: var(--color-primary);
  }
}

h4 {
  font-size: 1.2rem;

  @include for-desktop-up {
    font-size: 1.5rem;
  }
}

section {
  margin: auto;
  position: relative;
}

.ut-btn {
  width: 100%;
  max-width: 270px;
  border-color: var(--color-secondary);
  color: var(--color-secondary);
  font-size: 1.3rem;
  font-weight: bold;

  &:focus {
    outline: none !important;
    box-shadow: 0 0 0 0.2rem rgba(var(--color-secondary), 0.26) !important;
  }

  @include for-tablet-portrait-up {
    font-size: 1.5rem; 
  }
}

.ut-btn-secondary {
  border-color: black;
  background-color: black;
  color: white;
}

.title {
  color: var(--color-secondary);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;

  @include for-desktop-up {
    font-size: 2rem;
    text-align: left;
  }

  @include for-big-desktop-up {
    font-size: 2.4rem;
  }
}

.content img {
  max-width: 300px;
}

img.video-thumb {
  cursor: pointer;
}

/* BOOTSTRAP BASE OVERRIDES
=============================================== */

.bg-primary {
  background-color: var(--color-primary) !important;
}

.bg-grey {
  background-color: var(--color-grey) !important;
}

.text-primary {
  color: var(--color-primary) !important;  
}

.text-secondary {
  color: var(--color-secondary) !important;  
}

.form-control,
.custom-select {
  border: none !important;
}

.custom-select {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='m0 1L2 5L4 1z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
  background-color: white;
}

label {
  font-weight: bold !important;
}

/* BOOTSTRAP FOOTER OVERRIDES
=============================================== */

.modal-content {
  background-color: var(--color-primary);
}

.modal-content .modal-title {
  font-weight: bold;
}

.modal-content .modal-header {
  border-bottom: none;
}

.modal-content .modal-footer {
  justify-content: center;
  border-top: none;
}

.modal-content .modal-footer .btn {
  font-weight: bold;
  border-radius: 0;
  font-size: 0.8em;
  margin: 0 0.6rem;
  
  @include for-desktop-up {
    font-size: 1em;
    margin: 0 1rem;
  }
}

.modal-content .modal-footer .btn.btn-primary {
  min-width: 140px;
  background-color: white;
  color: var(--color-secondary);
  border-color: white;
}

.modal-content .modal-footer .btn.btn-secondary {
  background-color: transparent;
  border-color: var(--color-secondary);
  color: black;
}

.modal-backdrop {
  opacity: 0.85;
}